body {
	font-family: sans-serif;
	margin: auto;
	max-width: 1000px;
	text-align: justify;

p1 {
	display: inline-block;
	font-size: 18px;
	width: 98%;
}

p2 {
	display: inline-block;
	font-size: 32px;
	width: 98%;

th {
	padding: 10px;
}
